{% extends 'base.html.twig' %}

{% block title %}S'inscrire | {{parent()}} {% endblock %}

{% block body %}
   
    <section class="d-flex w-50 mx-auto my-auto content-container">
        <figure class="w-50">
            <img src="{{asset('images/vault.jpg')}}" class="w-100" alt="">
        </figure>
        <div class="d-flex flex-column justify-content-center w-50">
             <h1 class="text-center">S'inscrire</h1>
              {{ form(registrationForm, {'attr':{'novalidate':'novalidate', 'class':'mx-auto text-center'}} ) }}
        </div>
       
    </section>
    
{% endblock %}
