{% extends 'base.html.twig' %}

{% block title %}Accueil! | {{parent() }} {% endblock %}

{% block body %}
<div class="w-50 mx-auto my-auto content-container">
    <header>
    <h1>Mes fichiers</h1><a href="{{path('file-upload')}}" class="btn btn-outline-success">Charger un fichier</a>
    </header>
    <ul>
        {% for file in files %}
            <a href="{{path('file-download', {id: file.id})}}">{{ file.alias }}
                <span><i class="fas fa-download px-2"></i></span>
            </a>

        {% else %} 
        
        {% endfor %}
    </ul>
    
</div>

{% endblock %}
