.content-container {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

a {
    color:inherit;
    text-decoration: none;
}

footer {
    position: absolute;
    background-color: khaki;
    padding:3em;
    bottom:0;
    left:0;
    right:0;
    text-align: center;
}

.main-header {
    background-color: khaki;
    padding:3em;
    text-align: center;
}

.logout {
    position: absolute;
    right:1em;
    top:1em;
    font-size: 3em;
}